<a href="https://colab.research.google.com/github/alermar69/HELP/blob/master/%D0%97%D0%B0%D0%B3%D1%80%D1%83%D0%B7%D0%BA%D0%B0_%D1%84%D0%B0%D0%B9%D0%BB%D0%B0_%D1%81_GoogleDrive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
 
%load_ext google.colab.data_table
# %unload_ext google.colab.data_table

### Загрузка файла  с GoogleDrive по id

In [ ]:
url_share = 'https://drive.google.com/file/d/1pmGSMI2LuvsiBaBG5v7N8xfPedZbF020/view?usp=sharing'

id_file = url_share.split('/')[5]
url_file = f'https://drive.google.com/uc?id={id_file}'

#Чтение файла с GoogleDrive----------------------------------------------------
df = pd.read_csv(url_file)
df.head()

#Скачивание файла с GoogleDrive------------------------------------------------
import gdown
import os.path as osp


name_file = gdown.download(url_file, None, quiet=False)
path_file = osp.abspath(name_file)

df = pd.read_csv(path_file)
df.head()

#Скачивание файла с GoogleDrive (терминал)-------------------------------------
#!gdown --id 1qz7PZizi34JHPkhCwAeSLD8adgpEpvES
down_file = !gdown --id {id_file}
path_file = down_file[2][3:].strip()

df = pd.read_csv(path_file)
df.head()

In [ ]:
def down_drive(url_share, down=False, out_name_file=None):
  id_file = url_share.split('/')[5]
  type_file = url_share.split('/')[3]

  url_file = ''
  if type_file == 'file': 
    url_file = f'https://drive.google.com/uc?id={id_file}'

  if type_file == 'spreadsheets': 
    url_file = f'https://docs.google.com/spreadsheets/d/{id_file}/export?format=csv'
  
  path_file = url_file

  if down:
    import gdown
    import os.path as osp

    output = out_name_file
    if type_file == 'spreadsheets' and output is None:
       output = 'sheets_down'

    name_file = gdown.download(url_file, output, quiet=False)
    path_file = osp.abspath(name_file)

  df = pd.read_csv(path_file)
  return df

In [ ]:
# df = down_drive('https://drive.google.com/file/d/1pmGSMI2LuvsiBaBG5v7N8xfPedZbF020/view?usp=sharing')
df = down_drive('https://docs.google.com/spreadsheets/d/1lqorgUzSl-xBUV4rnRODcYJrVFpUbgRdLkWY3VQtmKY/edit?usp=sharing', 
                down=True, out_name_file='РБК')
df.head()

Downloading...
From: https://docs.google.com/spreadsheets/d/1lqorgUzSl-xBUV4rnRODcYJrVFpUbgRdLkWY3VQtmKY/export?format=csv
To: /content/РБК
111B [00:00, 26.1kB/s]

  Партнер    utm_source utm_medium
0    СМИ2          smi2        cpm
1     РБК           rbc        cpc
2   Infox         infox        cpc
3   Infox  infox-action        cpa

In [ ]:

url_share = 'https://drive.google.com/file/d/1c55en3dgf8Tf3M6dPk_DAm0WcjCuTewe/view?usp=sharing'

id_file = url_share.split('/')[5]
url_file = f'https://drive.google.com/uc?id={id_file}'

#Чтение файла с GoogleDrive----------------------------------------------------
df = pd.read_csv(url_file)
df.head()
https://drive.google.com/open?id=1c55en3dgf8Tf3M6dPk_DAm0WcjCuTewe

   longitude  latitude  ...  median_house_value  ocean_proximity
0    -122.23     37.88  ...            452600.0         NEAR BAY
1    -122.22     37.86  ...            358500.0         NEAR BAY
2    -122.24     37.85  ...            352100.0         NEAR BAY
3    -122.25     37.85  ...            341300.0         NEAR BAY
4    -122.25     37.85  ...            342200.0         NEAR BAY

[5 rows x 10 columns]

### Загрузка данных с GoogleSheet таблиц

In [ ]:
url_share = 'https://docs.google.com/spreadsheets/d/1lqorgUzSl-xBUV4rnRODcYJrVFpUbgRdLkWY3VQtmKY/edit?usp=sharing'

id_file = url_share.split('/')[5]
url_sheet = f'https://docs.google.com/spreadsheets/d/{id_file}/export?format=csv'

df = pd.read_csv(url_sheet)
df.head()

  Партнер    utm_source utm_medium
0    СМИ2          smi2        cpm
1     РБК           rbc        cpc
2   Infox         infox        cpc
3   Infox  infox-action        cpa

In [ ]:
url_share = 'https://docs.google.com/spreadsheets/d/16_S-RxAx2GE3DcDI-vdTp5bwe5lkl5lxy-U2zgnIQts/edit?usp=sharing'

id_file = url_share.split('/')[5]
url_sheet = f'https://docs.google.com/spreadsheets/d/{id_file}/export?format=csv'

df = pd.read_csv(url_sheet)
df.head()

  Б/У: КОМПЬЮТЕРЫ, НОУТБУКИ, МОНИТОРЫ, ТЕЛЕВИЗОРЫ, ПРИНТЕРЫ И КОМПЛЕКТУЮЩИЕ С ГАРАНТИЕЙ ОТ 6 месяцев  ... Unnamed: 3
0                                                NaN                                                  ...        NaN
1  РОЗНИЦА:  068 577 97 27 Тарас (Телефон/Telegra...                                                  ...        NaN
2                  РОЗНИЦА:  095 031 86 36  Николай                                                   ...        NaN
3  ОПТ:            093 061 56 77 Владислав (Телеф...                                                  ...        NaN
4  Горячая линия:         0800 330 375 (Бесплатно...                                                  ...        NaN

[5 rows x 4 columns]

### Подключение GoogleDrive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/tmp/german_credit_data.csv')
df[:5]

   Unnamed: 0  Age     Sex  ...  Credit amount Duration              Purpose
0           0   67    male  ...           1169        6             radio/TV
1           1   22  female  ...           5951       48             radio/TV
2           2   49    male  ...           2096       12            education
3           3   45    male  ...           7882       42  furniture/equipment
4           4   53    male  ...           4870       24                  car

[5 rows x 10 columns]

### База данных

In [ ]:
from sqlalchemy import create_engine
con = create_engine('postgresql+psycopg2://vozlldmn:RRMRZGXCVU6UmqtZ4jyUtk5CCiiqBao6@dumbo.db.elephantsql.com:5432/vozlldmn')

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [ ]:
!gdown --id 1uDVAR4_3lmkOde5sDkDOkoXZrsXHP-yV

Downloading...
From: https://drive.google.com/uc?id=1uDVAR4_3lmkOde5sDkDOkoXZrsXHP-yV
To: /content/german-credit.csv
100% 50.5k/50.5k [00:00<00:00, 18.3MB/s]

In [ ]:
df = pd.read_csv('/content/german-credit.csv')

In [ ]:
df.to_sql('germancredit',con,if_exists='replace',index=False)

In [ ]:
sql = '''select * from germancredit t'''

df = pd.read_sql(sql,con)
df.head()

   Unnamed: 0  Age     Sex  ...  Duration              Purpose default
0           0   67    male  ...         6             radio/TV       0
1           1   22  female  ...        48             radio/TV       1
2           2   49    male  ...        12            education       0
3           3   45    male  ...        42  furniture/equipment       0
4           4   53    male  ...        24                  car       1

[5 rows x 11 columns]